body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.container{
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    font-size: 2.5em;
}

.btn{
    font-size: 1.5em;
    padding: 0.8em 1em;
    margin: 0 0.8em;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.no-btn{
    position: absolute;
    transition: top 0.2s ease, left 0.2s ease;
}

.gif-container{
    margin-top: 1em;
    scale: 0.8;
}